# IDEA and gradle
/.gradle/
/buildSrc/.gradle/
.idea/
.run/
build/
/out/
*/out/

#vscode
.classpath
.project
launch.test.json
launch.json
.ignore
.settings
bin/


# java/jvm output
*.jar
hs_err_pid*

# during development
/processor/src/test/java/jts
/tmp
*.gradle.old

/processor/src/main/generated/
/processor/src/test/java/tmp/
/processor/src/test/generated/
/samples/src/main/generated/
